  <footer>
    <div class="wrap-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-footer footer-1">
            <div class="footer-heading"><h1><span style="color: #fff;">NEWSPAPER</span></h1></div>
            <div class="content">
              <p>Never missed any post published in our site. Subscribe to our daly newsletter now.</p>
              <strong>Email address:</strong>
              <form action="#" method="post">
                <input type="text" name="your-name" value="" size="40" placeholder="Your Email" />
                <input type="submit" value="SUBSCRIBE" class="btn btn-3" />
              </form>
            </div>
          </div>
          <div class="col-md-4 col-footer footer-2">
            <div class="footer-heading"><h4>Tags</h4></div>
            <div class="content">
              <% @share.categories.each do |category| %>
                <a href="<%= category[:url] %>"><%= category[:name] %></a>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 col-footer footer-3">
            <div class="footer-heading"><h4>Related Post</h4></div>
            <div class="content">
              <ul>
                <% @share.footer_categories. each do |footer_category| %>
                  <li><a title='<%= footer_category[:name] %>' href="<%= footer_category[:url] %>"><%= footer_category[:name] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <p>Copyright 2017 - <a href="https://it-kn.com" target="_blank" rel="nofollow">IT-KN.COM</a> Power by Zender Machine</p>
    </div>
  </footer>